
<div class="row">

    <div class="col-md-6">
      <form #form="ngForm" (ngSubmit)="saveNewProduct(form.value); form.resetForm();">

        <div class="form-group">
          <label for="title">Title</label>
          <input ngModel #title="ngModel" id="title" name="title" class="form-control" required>
          <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
            Title is required
          </div>
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            <input ngModel #price="ngModel" type="number" name="price" id="price" class="form-control" required [min]="0">
          </div>
          <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
            <div *ngIf="price.errors.required">Price is required</div>
            <div *ngIf="price.errors.min">Price must be a minimum of 0</div>
          </div>
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select ngModel #category="ngModel" id="category" name="category" class="form-control" required>
            <option value=""></option>
            <option *ngFor="let category of categories">{{category.name}}</option>
          </select>
          <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
            Select a category
          </div>
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          <input id="image" ngModel #image="ngModel" name="image" class="form-control" url>
          <!--<div *ngIf="image.touched && image.errors.url">Input a valid URL</div>-->
        </div>
        <button type="submit" class="btn btn-success">Save</button>
      </form>

      <button (click)="viewAllProducts()" class="btn btn-info my-3">View products</button>
    </div>

    <div class="col-md-6">
      <div class="card">
        <img [src]="image.value" alt="Food item" style="max-width: 100%; height: auto">
        <div class="card-body">
          <small>{{ category.value }}</small>
          <h4 class="card-title">{{ title.value }}</h4>
          <p class="card-text">{{ price.value | currency: 'USD': 'symbol-narrow' }}</p>
        </div>
      </div>
    </div>

</div>

